*{
    overflow: hidden;
}

.alertBox {
    position: absolute;
    width: 60%;
    top: 10px;
    border-radius: 10px;
    padding: 8px;
    color: #FFF;

/*
    animation-name: smith;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
*/
    animation: smith 8s ease-in-out 1;
}

@keyframes smith{
    0% {
        left: 0%;
    }

    25% {
        left: 25%;
    }

    100% {
        left: 100%;
    }
}